p{
    color: #A52A2A;
    color: red;
    line-height: 30px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    color: black;
}
h4{
    text-align: center;
}
body{
    text-align: center;
    font-family: Georgia;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: rgb(0,0,0);
}