button:hover{
    background-color: black;
    color: white;
}
button:active{
    background-color: pink;
}
input[type="radio"]:checked + label{
    font-weight: bold;
    color: red;
}
h1::first-letter{
    color: coral;
}
#demo::first-line{
    color: aqua;
}
p::selection{
    color: yellow;
}